<div class="orders-container" [class.collapsed]="isCollapsed$ | async">
  <header class="header">
    <button class="btn-volver">Volver</button>
    <div class="cart-icon">🛒</div>
  </header>

  <main class="main-content">
    <div class="menu-section">
      <nav class="categories">
        <button
          *ngFor="let categoria of categorias"
          class="category-btn"
          [class.active]="categoria === categoriaSeleccionada"
          (click)="cambiarCategoria(categoria)"
        >
          {{ categoria }}
        </button>
      </nav>

      <div class="products-grid">
        <tr class="product-card" *ngFor="let producto of productosFiltrados">
          <img src="" alt="{{producto.nombre}}">
          <div class="product-info">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td><strong>Precio:</strong> S/ {{ producto.precio }}</td>
          </div>
          <div class="quantity-controls">
            <button class="qty-btn" (click)="incrementarProducto(producto)" [disabled]="producto.cantidad_selecionada >= producto.cantidad_disponible">+</button>
            <span>{{producto.cantidad_selecionada}}</span>
            <button class="qty-btn" (click)="disminuirProducto(producto)" [disabled]="producto.cantidad_selecionada <= 0">-</button>
          </div>
          <button class="add-btn">Agregar</button>
        </tr>
      </div>
    </div>

    <aside class="order-summary">
      <h2>Resumen del Pedido</h2>


      <div class="notes">
        <h3>Notas Especiales</h3>
        <textarea placeholder="Añadir especificaciones..."></textarea>
      </div>

      <div class="promo-box">
        <h3>Promoción Especial</h3>
        <p>¡20% de descuento en tu primer pedido!</p>
      </div>


      <button class="confirm-btn">Confirmar Pedido</button>
    </aside>
  </main>
</div>
