<div class="orders-container" [class.collapsed]="isCollapsed$ | async">
  <header class="header">
    <button class="btn-volver" (click)="volverDashboard()">Volver</button>
    <div class="cart-icon">🛒</div>
  </header>

  <main class="main-content">
    <div class="menu-section">
      <nav class="categories">
        <button class="category-btn" [class.active]="categoriaSeleccionada === ''" (click)="borrarfiltro()">
          Todos
        </button>
        <button *ngFor="let categoria of categorias" class="category-btn"
          [class.active]="categoria.id === categoriaSeleccionada" (click)="cambiarCategoria(categoria.id)">
          {{ categoria.nombre }}
        </button>
      </nav>
      <section class="products-grid">
        <div class="product-card" *ngFor="let producto of productosFiltrados">
          <img [src]="getImagenProducto(producto)" alt="{{producto.name}}">
          <div class="product-info">
            <div>{{ producto.name }}</div>
            <div>{{ producto.description }}</div>
            <div><strong>Precio:</strong> S/ {{ producto.price }}</div>
          </div>
          <div class="quantity-controls">
            <button class="qty-btn" (click)="disminuirProducto(producto)"
              [disabled]="cantidadesSeleccionadas[producto.id] <= 0">-
            </button>
            <span>{{ cantidadesSeleccionadas[producto.id] }}</span>
            <button class="qty-btn" (click)="incrementarProducto(producto)"
              [disabled]="cantidadesSeleccionadas[producto.id] >= producto.cant_available">+
            </button>
          </div>
          <button class="add-btn" (click)="agregarProducto(producto)"
            [disabled]="cantidadesSeleccionadas[producto.id] === 0">
            Agregar
          </button>
        </div>
      </section>
    </div>

    <aside class="order-summary">
      <h2><strong>Resumen del Pedido</strong></h2>
      <div *ngFor="let producto of resumenPedidos" class="order-item">
        <span>{{ producto.name }}</span>
        <span>Cantidad: {{ producto.cant_select }}</span>
        <span>Total: {{ producto.cant_select * producto.price | currency:'S/' }}</span>
        <button (click)="quitarProducto(producto)">Quitar</button>
      </div>

      <div *ngIf="resumenPedidos.length === 0">
        <p>No hay productos en el resumen.</p>
      </div>
      <div class="total">
        <span>Total:</span>
        <span>S/{{ calcularTotal().toFixed(2) }}</span>
      </div>

      <div class="notes">
        <h3>Notas Especiales</h3>
        <textarea placeholder="Añadir especificaciones..."></textarea>
      </div>
      <button class="confirm-btn" (click)="confirmarPedido()">Confirmar Pedido</button>
    </aside>
  </main>
</div>