.reservation-container {
  margin-left: 260px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.reservation-container.collapsed {
  margin-left: 100px;
}

.btn-volver {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  max-width: 6rem;
}

.btn-volver {
  background-color: #b44;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem;
}

.lista,
.formulario {
  width: 48%;
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ea580c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:disabled {
  opacity: 0.5;
}

button:hover:enabled {
  background-color: #c2410c;
}

.error {
  margin-top: 1rem;
  color: red;
}

.success {
  margin-top: 1rem;
  color: green;
}