<div class="orders-container" [class.collapsed]="isCollapsed$ | async">
  <header class="header">
    <button class="btn-volver">Volver</button>
    <div class="cart-icon">🛒</div>
  </header>

  <main class="main-content">
    <div class="menu-section">
      <nav class="categories">
        <button
          *ngFor="let categoria of categorias"
          class="category-btn"
          [class.active]="categoria === categoriaSeleccionada"
          (click)="cambiarCategoria(categoria)"
        >
          {{ categoria }}
        </button>
      </nav>

      <div class="products-grid">
        <div class="product-card" *ngFor="let producto of productosFiltrados">
          <img src="" alt="{{producto.nombre}}">
          <h3>{{ producto.nombre }}</h3>
          <p>{{ producto.descripcion }}</p>
          <p><strong>Precio:</strong> S/ {{ producto.precio }}</p>
        </div>
      </div>
    </div>

    <aside class="order-summary">
      <h2>Resumen del Pedido</h2>


      <div class="notes">
        <h3>Notas Especiales</h3>
        <textarea placeholder="Añadir especificaciones..."></textarea>
      </div>

      <div class="promo-box">
        <h3>Promoción Especial</h3>
        <p>¡20% de descuento en tu primer pedido!</p>
      </div>


      <button class="confirm-btn">Confirmar Pedido</button>
    </aside>
  </main>
</div>
